*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*
venv
**/.swp
**/*.log
**/*.debug
**/.vscode
data/*
data_test
data_test/
core_nid*

ckpts
*.mp4


**/*debug*
**/finetune/*-lora-*
**/finetune/Disney-*
**/wandb
**/results
**/*.mp4
**/validation_set
CogVideo-1.0
outputs/
**/outputs


**/outputs

**/diffusers
**/transformers

**/*.safetensors

